<h4>Edit {{order && order.name}}</h4>
<form [formGroup]="editOrderForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Name</label>
    <input
      type="text"
      id="name"
      formControlName="name"
      class="form-control"
      placeholder="Order name"
    />
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input
      type="text"
      id="description"
      formControlName="description"
      class="form-control"
      placeholder="Order description"
    />
  </div>
  <div>
    <button type="submit" class="btn btn-primary" [disabled]="!editOrderForm.valid">Save</button>
  </div>
</form>
