<div class="col-md-8">
  <a
    [routerLink]="[id]"
    routerLinkActive="active"
    class="list-group-item clearfix"
  >
    <div class="pull-left">
      <h4 class="list-group-item-heading">
        {{ order.name }}
      </h4>
      <p class="list-group-item-text">{{ order.description }}</p>
    </div>
  </a>
</div>
<div class="col-md-4">
  <div class="button-group">
    <button class="btn btn-danger" type="button" (click)="onDeleteOrder(order.id)">X</button>
    <button class="btn btn-primary" type="button" [routerLink]="[id] + '/edit'">Edit</button>
  </div>
</div>

